@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.imaged{
	position: absolute;
	bottom:5px;
	
}

.bg_green{
background: linear-gradient(#005d00, #000d00); 

}

.bg_black{
background: #000000; 

}

/* Style circuit svg */

body {
  background-color: black;
}
svg {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
}

.path {
  animation: draw 14s infinite;
  animation-timing-function: linear;
}

.path-2 {
  animation: draw 14s infinite;
  animation-delay: 1s;
  animation-timing-function: linear;
}

@keyframes draw {
  0% {
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

.text_purple {
  color: #8d008d;
}

/* Remove the "shadow" in carousel control buttons */
.carousel-control-prev, .carousel-control-next {
   opacity: 0!important;
}

/* Style carousel rounded indicators */
.carousel-indicators li {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #000000;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 32px;
    height: 32px;
    margin: 10px;
    background-color: #8d008d;
}

/* Make the text next to H1 in "Biografia" title */
.my-header h1 { 
        display: inline!important;
      }

/* Make the text "tachado" */
.tachado{
  text-decoration:line-through;
}



/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #222;
    font-size: 18px;
    transition: 0.2s;
    color: #fff;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #555;
}

/* Darker background-color on hover */
ul li:hover {
    background: #777;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {

    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}



li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}

.code{
  position: relative;
  font-size: 16px;
  opacity: 0;
  animation: 5s animation-code infinite reverse;
}

@keyframes animation-code {
  0%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

  100%{
    opacity:0;
  }
}

.nav_btn {
  animation: 0.3s animation-rev-nav-button 1 linear; 
}
@keyframes animation-rev-nav-button {
  0%{
    left: -30px;
    bottom: 30px;
    font-size: 78px;    
    
  }


  50%{ 
    bottom: 15px;
    left: -15px;
    font-size: 67px;
  }

  100%{
    bottom: 0px;
    left: 0px;
    font-size: 56px;
  }
}
.nav_btn:hover{
  font-size:48px;
  position:relative;
  animation: 6s animation-nav-button 1 linear; 
}

@keyframes animation-nav-button {
  0%{
    bottom: 0px;
    left: 0px;
    font-size: 62px;
  }

  3%{ 
    bottom: 15px;
    left: -15px;
    font-size: 70px;
  }

  6%{
    left: -30px;
    bottom: 30px;
    font-size: 78px;

  }
  100%{
    left: -30px;
    bottom: 30px;
    font-size: 78px;    
  }
}